---
import type { SlButton } from '@shoelace-style/shoelace';

interface Props extends Omit<SlButton, any> {
    variant?: 'default' | 'primary' | 'success' | 'neutral' |'warning' | 'danger' | 'text';
    size?: 'small' | 'medium' | 'large';
    outline?: boolean;
    pill?: boolean;
    circle?: boolean;
    href?: string;
    target?: "_blank" | "_self" | "_parent" | "_top";
    caret?: boolean;
    loading?: boolean;
    disabled?: boolean;
    type?: 'button' | 'submit' | 'reset';
    name?: string;
    value?: string;
    rel?: string;
};

const { variant, size, outline, pill, circle, href, target, caret, loading, disabled, type, name, value, rel, ...rest } = Astro.props;
---

<sl-button {variant} {size} {outline} {pill} {circle} {href} {target} {caret} {loading} {disabled} {type} {name} {value} {rel} {...rest} >
    <div slot="prefix"><slot name="prefix" /></div>
    <slot />
    <div slot="suffix"><slot name="suffix" /></div>
</sl-button>

<script>
    import '@shoelace-style/shoelace/dist/components/button/button.js';
</script>