---
import type { SlDropdown } from '@shoelace-style/shoelace';

interface Props extends Omit<SlDropdown, any> {
    /**
     * Indicates whether or not the dropdown is open. You can toggle this attribute to show and hide the dropdown, or you
     * can use the `show()` and `hide()` methods and this attribute will reflect the dropdown's open state.
     */
    open?: boolean;
    /**
     * The preferred placement of the dropdown panel. Note that the actual placement may vary as needed to keep the panel
     * inside of the viewport.
     */
    placement?: 'top' | 'top-start' | 'top-end' | 'bottom' | 'bottom-start' | 'bottom-end' | 'right' | 'right-start' | 'right-end' | 'left' | 'left-start' | 'left-end';
    /** Disables the dropdown so the panel will not open. */
    disabled?: boolean;
    /**
     * By default, the dropdown is closed when an item is selected. This attribute will keep it open instead. Useful for
     * dropdowns that allow for multiple interactions.
     */
    stayOpenOnSelect?: boolean;
    /**
     * The dropdown will close when the user interacts outside of this element (e.g. clicking). Useful for composing other
     * components that use a dropdown internally.
     */
    containingElement?: HTMLElement;
    /** The distance in pixels from which to offset the panel away from its trigger. */
    distance?: number;
    /** The distance in pixels from which to offset the panel along its trigger. */
    skidding?: number;
    /**
     * Enable this option to prevent the panel from being clipped when the component is placed inside a container with
     * `overflow: auto|scroll`. Hoisting uses a fixed positioning strategy that works in many, but not all, scenarios.
     */
    hoist?: boolean;
    /**
     * Syncs the popup width or height to that of the trigger element.
     */
    sync?: 'width' | 'height' | 'both' | undefined;
}

const { containingElement, disabled, distance, hoist, open, placement, skidding, stayOpenOnSelect, sync, ...rest } = Astro.props;
---

<sl-dropdown
    {open}
    {placement}
    {disabled}
    {stayOpenOnSelect}
    {containingElement}
    {distance}
    {skidding}
    {hoist}
    {sync}
    {...rest}
    >
    <div slot="trigger"><slot name="trigger" /></div>
    <slot />
</sl-dropdown>

<script>
    import '@shoelace-style/shoelace/dist/components/dropdown/dropdown.js';
</script>